<colin toolname="refdb" prompt=">" version="0.9.9">

    <!-- ================================================================== -->
    <!-- These commands make up the interface to the refdb tool -->
    <!-- ================================================================== -->
    <commands>
       <command name="create" impl="refdb.commands.create.Create">
           <description>Creates a new reference in the database</description>
           <args>
               <arg name="title"><String/></arg>    
           </args>
           <output display="NONE">
               <!-- This comand returns the reference id -->
               <Integer min="0"/>
           </output>
       </command>
       
       <command name="delete" impl="refdb.commands.delete.Delete">
           <description>Removes the reference with the given id from the database</description>
           <args>
               <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
           </args>
           <output>
               <!-- Return the success status of the command -->
               <Boolean/>
           </output>
       </command>

       <container name="add">
           <description>Adds attributes to an existing reference</description>
           <command name="author" impl="refdb.commands.add.Author">
               <description>Adds another author to the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>
                   <arg name="name"><String/></arg>    
               </args>
               <output display="NONE">
                   <!-- This comand returns the author id (or -1 on failure) -->
                   <Integer min="-1"/>
               </output>
           </command>
           <command name="info" impl="refdb.commands.add.Info">
               <description>Adds another piece of information to the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="info"><String/></arg>    
               </args>
               <output display="NONE">
                   <!-- This comand returns the info id (or -1 on failure) -->
                   <Integer min="-1"/>
               </output>
           </command>
       </container>

       <container name="remove">
           <description>Removes attributes from an existing reference</description>
           <command name="author" impl="refdb.commands.remove.Author">
               <description>Removes the author from the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="authorid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="NONE">
                   <!-- return the success status of the command -->
                   <Boolean/>
               </output>
           </command>
           <command name="info" impl="refdb.commands.remove.Info">
               <description>Adds another piece of information to the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="infoid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="NONE">
                   <!-- Return the success status of the command -->
                   <Boolean/>
               </output>
           </command>
       </container>

       <container name="set">
           <description>Sets attributes on an existing reference</description>
           <command name="date" impl="refdb.commands.set.Date">
               <description>Sets the date for the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="date"><String pattern="(jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec) \d{4}"/></arg>
               </args>
               <output display="NONE">
                   <!-- Return the success status of the command -->
                   <Boolean/>
               </output>
           </command>
           <command name="isbn" impl="refdb.commands.set.ISBN">
               <description>Sets the ISBN number for the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="number"><String pattern="[0-9]{10}"/></arg>
               </args>
               <output display="NONE">
                   <!-- Return the success status of the command -->
                   <Boolean/>
               </output>
           </command>
       </container>

       <command name="list" impl="refdb.commands.list.List">
           <description>Lists all the references currently stored in the database</description>
       </command>

       <container name="system">
           <description>Deals with the saving/restoring of the reference database</description>
           <command name="save" impl="refdb.commands.system.Save">
               <description>Saves the current state of the reference database</description>
               <args>
                   <arg name="filename"><File/></arg>
               </args>
           </command>
           <command name="restore" impl="refdb.commands.system.Restore">
               <description>Restores the current state of the reference database</description>
               <args>
                   <arg name="filename"><File schema="restore.rnc"/></arg>
               </args>
           </command>
       </container>

       <container name="get">
           <description>Retrives reference database information</description>
           <command name="refids" impl="refdb.commands.get.RefIds">
               <description>Gets the list of reference ids currently in the database</description>
               <output display="EXTERNAL"/>
           </command>
           <command name="title" impl="refdb.commands.get.Title">
               <description>Gets the title for the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="date" impl="refdb.commands.get.Date">
               <description>Gets the date for the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="isbn" impl="refdb.commands.get.ISBN">
               <description>Gets the ISBN for the given reference</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="authorids" impl="refdb.commands.get.AuthorIds">
               <description>Gets the list of author ids for the given reference id</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="author" impl="refdb.commands.get.Author">
               <description>Gets the author for the given reference id and author id</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="authorid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="infoids" impl="refdb.commands.get.InfoIds">
               <description>Gets the list of info ids for the given reference id</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="info" impl="refdb.commands.get.Info">
               <description>Gets the info for the given reference id and author id</description>
               <args>
                   <arg name="refid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
                   <arg name="infoid"><Or><Integer min="0"/><String pattern="-"/></Or></arg>    
               </args>
               <output display="EXTERNAL"/>
           </command>
       </container>

       <container name="search">
           <description>Creates a summary of the database contents</description>
           <command name="author" impl="SearchAuthor.py">
               <description>Lists entries with the given author</description>
               <args>
                  <arg name="name"><String/></arg>
               </args>
               <output display="EXTERNAL"/>
           </command>
           <command name="title" impl="SearchTitle.py"> 
               <description>Lists entires with the given keyword in the title</description>
               <args>
                   <arg name="keyword"><String/></arg>
               </args>
               <output display="EXTERNAL"/>
           </command>
       </container>
    </commands>

    <!-- ================================================================== -->
    <!-- Specification of the acceptance tests for the refdb tool -->
    <!-- ================================================================== -->
    <testcases>
        <testcase name="StartEmpty" 
            description="Checks that we start with an empty database">
            <runCommand name="list" var="result"/>
            <assertEquals var="result">
                <value></value>
            </assertEquals>
        </testcase>
        <testcase name="CreateRef" 
            description="Checks that we can add an reference to the database">
            <runCommand name="create ref1"/>
            <runCommand name="list" var="result"/>
            <assertEquals var="result">
                <value>[0] "ref1"</value>
            </assertEquals>    
        </testcase>
        <testcase name="DeleteRef" 
            description="Checks that we can remove a reference from the database">
            <runCommand name="create ref1"/>
            <runCommand name="delete -"/>
            <runCommand name="list" var="result"/>
            <assertEquals var="result">
                <value></value>
            </assertEquals>    
        </testcase>
        <testcase name="SearchAuthor" 
            description="Checks the author search extension">
            <runScript name="SearchAuthorTest.py" var="result"/>
            <assertEquals var="result">
                <value>Passed</value>
            </assertEquals>    
        </testcase>
        <testcase name="SearchTitle" 
            description="Checks the title search extension">
            <runScript name="SearchTitleTest.py" var="result"/>
            <assertEquals var="result">
                <value>Passed</value>
            </assertEquals>    
        </testcase>
    </testcases>

</colin>

