<colin toolname="test" prompt=">" version="1.0.0">
    <commands>
       <command name="testBoolean" impl="test.BooleanCommand">
           <description>Test command that takes a boolean argument</description>
           <args>
               <arg name="argument"><Boolean/></arg>    
           </args>
       </command>
       <command name="testInteger" impl="test.IntegerCommand">
           <description>Test command that takes an integer argument</description>
           <args>
               <arg name="argument"><Integer min="11" max="29"/></arg>    
           </args>
       </command>
       <command name="testDouble" impl="test.DoubleCommand">
           <description>Test command that takes a double argument</description>
           <args>
               <arg name="argument"><Double min="11.0" max="29.0"/></arg>    
           </args>
       </command>
       <command name="testString" impl="test.StringCommand">
           <description>Test command that takes a string argument</description>
           <args>
               <arg name="argument"><String pattern="Arg.*"/></arg>    
           </args>
       </command>
    </commands>
</colin>

